<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <packageSources>
    <add key="ImageSharp" value="https://www.myget.org/F/imagesharp/api/v3/index.json" />
    <add key="SkySyncSdk" value="https://www.myget.org/F/skysync-vnext/auth/e4b6aec9-5970-4884-93e7-93ee281f8512/api/v3/index.json" />
  </packageSources>
</configuration>
